html,
body,
main {
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
  min-height: 100vh;
  background: #f7f7f7;
}

form {
  margin: auto;
  max-width: 400px;
}

button {
  font-family: "Comfortaa", cursive;
}

.auth {
  border: none;
  text-decoration: none;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  font-family: "Comfortaa", cursive;
}

::-webkit-input-placeholder {
  font-family: "Comfortaa", cursive;
  color: #d1d1d1;
}

::-moz-placeholder {
  font-family: "Comfortaa", cursive;
  color: #d1d1d1;
}

:-ms-input-placeholder {
  font-family: "Comfortaa", cursive;
  color: #d1d1d1;
}

::-ms-input-placeholder {
  font-family: "Comfortaa", cursive;
  color: #d1d1d1;
}

::placeholder {
  font-family: "Comfortaa", cursive;
  color: #d1d1d1;
}

a {
  text-decoration: none;
}

.icon {
  background-size: cover !important;
  background-position: 50% 50% !important;
  height: 200px;
  width: 200px;
  border-radius: 1rem;
  border: 1px solid #d1d1d1;
}

.searchBar {
  position: relative;
}

.search::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 35px;
  color: #d1d1d1;
  content: "\F002";
}

#myPlantFilter {
  border: none;
  text-decoration: none;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding: 15px 15px 15px 40px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  font-family: "Comfortaa", cursive;
}

.add::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #d1d1d1;
  content: "\F055";
}

.add-alt::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #d1d1d1;
  content: "\F067";
}

.plant::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F4D8";
}

.home::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F015";
}

.profile::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F007";
}

.logout::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F060";
}

.close::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F00D";
}

.edit::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F304";
}

.delete::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F1F8";
}

.info::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F05A";
}

.save::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  content: "\F0C7";
}

.darken {
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  min-height: 100vh;
}

.background {
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: 50% 20%;
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  padding: 120px 30px;
  text-align: center;
}

.logo {
  height: 100%;
  width: 150px;
  margin: auto;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.authlink {
  color: #fff;
  text-decoration: underline;
  margin-top: 20px;
}

.linkFlex {
  display: -webkit-box;
  display: flex;
  max-width: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}

.authbtn {
  border: none;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-family: "Comfortaa", cursive;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  background: #624972;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.authbtn:hover {
  background: #fff;
  color: #624972;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (min-width: 500px) {
  .logo {
    height: 100%;
    width: 200px;
    margin: auto;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

